.wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: flex-start;
    min-height: 100vh;
}

.wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4.5rem;
    height: 100%;
}

.wrapper main header {
    margin-bottom: 5rem;
}

.title {
    margin-bottom: 7rem;
}

.title h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--gray-600);
}

.title p {
    color: var(--gray-400);
}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
    }

    .wrapper > img { 
        display: none;
    }

    .wrapper main {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .wrapper {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 1400px) {
    .wrapper main {
        padding: 2.5rem;
    }
}