:root {
    --white: #ffffff;
    --gray-100: #f4f4f5;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --pink-300: #f00391;
    --pink-500: #da0484;

    --red-500: #F75A68;

    --google: #EA4335;
    --facebook: #4267B2;
    --github: #171515;
}

:focus {
    outline: 1px solid var(--pink-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-100);
    color: var(--gray-600);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}